@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500;600;700&display=swap");

:root {
  --sct-font-family-base: "Mulish", sans-serif;
  --sct-font-weight-strong: 500;
  --sct-font-weight-stronger: 600;
  --sct-font-size-200: 12px;
  --sct-font-size-300: 14px;
  --sct-font-size-400: 16px;
  --sct-line-height-200: 16px;
  --sct-line-height-300: 20px;
  --sct-line-height-400: 22px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: var(--sct-font-family-base);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
